[submodule "frontend"]
	path = frontend
	url = https://github.com/bubify/bubify-frontend.git
        branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/bubify/bubify-backend.git
	branch = main
