[submodule "frontend"]
	path = frontend
	url = git@github.com:bubify/frontend.git
        branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:bubify/backend.git
        branch = master
